---
const isLanding =
  Astro.url.pathname !== "/" &&
  Astro.url.pathname.split("/").filter(Boolean).length >= 1;
---

<header class:list={["site-nav", isLanding && "site-nav--landing"]}>
  <a href="/" class="site-nav__logo">code-design-guide</a>
</header>
